<%= form_with(model: recording, local: true) do |form| %>
<% if recording.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(recording.errors.count, "error") %> prohibited this recording from being saved:</h2>

  <ul>
    <% recording.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= form.hidden_field :user_id, :value => current_user.id %>

<div class="field">
  <%= form.label :part %>
  <%= select_tag "part", options_for_select([ "Soprano", "Alto", "Tenor", "Bass" ], "Soprano") %>
</div>

<div class="field">
  <%= form.label :title %>
  <%= collection_select(:title, :song_title, BackingTrack.all.group("song_title"), :id, :song_title, prompt: true)%>
</div>
<div class="field">
  <%= form.label :rec_file %>
  <%= form.file_field :rec_file %>
</div>


<div class="actions">
  <%= form.submit %>
</div>
<% end %>