<div data-controller="recording">
  <%= form_with(model: recording, local: true) do |form| %>
  <% if recording.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(recording.errors.count, "error") %> prohibited this recording from being saved:</h2>

    <ul>
      <% recording.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <p data-target="recording.user"><%= current_user.email %> </p>

  <h2 data-target="recording.title"><%= params[:title] %></h2>

  <h2 data-target="recording.part"><%= params[:part] %></h2>

  <audio hidden="true" controls data-target="recording.backingTrack">
    <source src="<%= url_for @track.track %>" type="audio/mp3">
  </audio>

  <audio controls data-target="recording.activeTrack">
  </audio><br>

  <audio controls data-target="recording.saved">
  </audio>

  <div data-action="click->recording#start">Start</div><Br>
  <div data-action="click->recording#stop">Stop</div>
  <a href="" data-target="recording.recFile">Download</a>

  <%= form.label :rec_file %>
  <%= form.file_field :rec_file%>
  <%= form.hidden_field :part, :value => params[:part]%>
  <%= form.hidden_field :title, :value => params[:title]%>


  <div class="actions">
    <%= form.submit %>
  </div>
  <% end %>

</div>