<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @recording.user.email %>
</p>

<p>
  <strong>Part:</strong>
  <%= @recording.part %>
</p>

<p>
  <% @path = rails_blob_path(@recording.rec_file) %>
  <audio controls>
    <source src="<%= @path %>" type="audio/mp3">
    Your browser does not support the audio tag.
  </audio>
</p>

<p>
  <strong>Title:</strong>
  <%=link_to url_for(@recording.rec_file) do %> <%= @recording.title %> <% end %>
</p>

<p>The blob file is - <%= @recording.rec_file %></p>

<%= link_to 'Edit', edit_recording_path(@recording) %> |
<%= link_to 'Back', recordings_path %>